# Gatewat Config
SERVER_ADDR=:8080

# Which provider to use by default (ollama | vllm)
DEFAULT_PROVIDER=ollama

# Ollama
OLLAMA_PORT=11434
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_TIMEOUT=60s
OLLAMA_MODELS=llama3.2:3b,qwen2.5-coder:1.5b

# vLLM
VLLM_PORT=8000
VLLM_BASE_URL=http://localhost:8000
VLLM_TIMEOUT=60s
VLLM_MODELS=Qwen/Qwen2.5-0.5B-Instruct,Qwen/Qwen2.5-1.5B-Instruct
VLLM_GPU_MEMORY_UTILIZATION=0.8
VLLM_MAX_MODEL_LEN=1024