    # Gatewat Config
    SERVER_ADDR=:8080

    # Which provider to use by default (ollama | vllm)
    DEFAULT_PROVIDER=ollama

    # Ollama
    OLLAMA_BASE_URL=http://localhost:11434
    OLLAMA_TIMEOUT=60s

    # vLLM
    VLLM_BASE_URL=http://localhost:8000
    VLLM_TIMEOUT=60s
